/*Products section*/

.products{
    display:flex;
    justify-content:center;
  }
  
  #prod-img{
    width:50%;
  }
  
  #prod-img img{
    width:100%;
    margin:0;
  }
  
  #descri{
    width:30%;
    padding:0px 30px;
  }
  
  #products h6{
    margin:0px 20px;
    color:black;
    text-align: left;
  }
  
  #products h1{
    color:#374B22;
    margin:100px 100px 50px 100px;
    padding-top:100px;
  }
  
  
  
  
  