/*Products section*/

.products{
    justify-content:center;
  }
  

#prod-img{
  width:100%;
}

#descri{
  padding:0% 20% 5% 20%;
  text-align: center;
}

  #products h6{
    margin:0px 20px;
    color:black;
  }
  
  #products h1{
    color:#374B22;
    margin:100px 100px 50px 100px;
   
  }
  
  
  
  
  