.Navbar{
    display:flex;
    justify-content: space-around;
    align-items: center;
    min-height:10vh;  
}


@font-face {
    font-family: poppins;
    src: url('../../Fonts/Poppins-Medium.ttf');
}

Link{
    Z-index:30;
}

img{
    align-self: center;
    margin-bottom: -100px; 
    margin-top:20px; 
    Z-index:30;
}

.link{
    margin-inline:20px;  
    font-family: poppins;
    font-size: 16px;
}

Nav{
    color:#374B22;  
}

.toggle{
    margin-left:90%;
    background-color:#C8E3D9;
}

#responsive-navbar-nav{
    margin-top:50px;
    color:#374B22;
    font-size: 20px;
}